@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a very simple web app developed in .NET. Want to learn more? Let's connect! <a href="https://www.linkedin.com/in/kolayemi-olumuyiwa/">LinkedIn</a>.</p>
</div>
