@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a simple web app developed in .NET. Kindly connect with on LinkedIn to learn more about me<a href="https://www.linkedin.com/in/kolayemi-olumuyiwa/">building Web apps with ASP.NET Core</a>.</p>
</div>
